---
import ArticleLayout from "../layouts/ArticleLayout.astro";
---

<ArticleLayout title="Hello">
    <h1>Здрасти</h1>
    <p class="subheading">Сега по-добре ли е?</p>
    <hr>
    <section>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde molestias a itaque mollitia. Minus provident
            voluptatibus itaque perferendis maiores impedit! Nesciunt, blanditiis aut! Eligendi eveniet necessitatibus,
            aperiam esse unde odio!</p>
    </section>
    <section>
        <h2>Opaaa</h2>
        <h3>Сега едно заглавие и на български</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam laboriosam explicabo animi consectetur ab
            accusantium sunt eligendi reiciendis voluptates sit exercitationem repudiandae blanditiis rerum nihil
            necessitatibus magni, quo placeat consequatur.</p>
    </section>
</ArticleLayout>